<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!-- TODO : Sign in the database name. -->
    <add name="InvestorDB" connectionString="Server=AHMED-LAP\SQLEXPRESS;Database=Unknown;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>